body{
	margin: 0;
	display: flex;
	flex-direction: column;
}
.contain{
	display: flex;
	justify-content: center;
}
.box {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	max-width: 500px;
	border:1px solid black;
	border-radius: 4px;
}

.block{
	border:1px solid black;
	min-width: 90px;
	min-height: 90px;
	font-size: 40px;
	text-align: center;
	border-radius: 4px;
}

.block:hover{
	cursor: pointer;
}
.block:active{
	max-width: 80px;
	max-height: 80px;
}
.text{
	display: flex;
	justify-content: center;
}

.area {
	font-size: 40px;
	max-width: 500px;
	max-height: 300px;
}

.buttons {
	display: none;

}

.k{
	padding:5px 20px;
}
.e{
	padding:5px 20px;
}
@media screen and (max-width: 700px) {
	.buttons {
		display: block;
		display: flex;
		justify-content: center;
	}
	.block{
		border:1px solid black;
		min-width: 19%;
		min-height: 60px;
	}
	.area {
		max-width: 98%;
		font-size: 20px;
		max-height: 140px;
	}
	.box {
		max-width: 98%;}
	.text{
		display: flex;
		justify-content: center;
	}
}
