body{
	padding-top: 2%;
	margin: 0;
	display: flex;
	flex-direction: column;
	background:#e3f0cd;
}
.start {
	display: flex;
	justify-content: center;
	margin-bottom: 1%;
}
.help {
	padding-right: 0;
	padding-left: 0;
	background-color: #f7ffad;
}
.contain{
	display: flex;
	justify-content: center;
}
.box {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	max-width: 500px;
	border:1px solid black;
	border-radius: 4px;
	background-color: #fff;
}

.block{
	border:1px solid black;
	min-width: 90px;
	min-height: 90px;
	font-size: 40px;
	text-align: center;
	border-radius: 4px;
}

.block:hover{
	cursor: pointer;
	background-color:#bdc6c7;
}
.text{
	display: flex;
	justify-content: center;
	
}

.area {
	font-size: 40px;
	max-width: 380px;
	max-height: 200px;
	border:1px solid black;
	border-radius: 4px;
	text-align: center;
}
.new{
	font-size: 20px;
	border:1px solid black;
	border-radius: 4px;
}
.buttons {
	display: none;
	justify-content: center;
}

.k{
	padding:5px 20px;
}
.e{
	padding:5px 20px;
}
@media screen and (max-width: 700px) {

	.block{
		border:1px solid black;
		min-width: 19%;
		min-height: 60px;
	}
	.area {
		max-width: 98%;
		font-size: 20px;
		max-height: 140px;
	}
	.box {
		max-width: 98%;}
	.text{
		display: flex;
		justify-content: center;
	}
}